@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre mim";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container">
    <div class="row">
        <h2 class="text-center">Allan de Almeida Alencar</h2>
        <p align="center">
            <img src="https://i.imgsafe.org/1c/1c7fcef027.png" />
        </p>
        <br />

        <h3 class="text-justify">Bio</h3>
        <hr />
        <p class="text-justify">
            Estudante de Sistemas e aprendiz de Desenvolvimento Web.
    

        <h3 class="text-justify">Informações Pessoais:</h3>
        <hr />
        <dl>
            <dt>Nome: Allan Alencar</dt>
        </dl>
        <dl>
            <dt>Empresa: <a href="https://www.institutoeldorado.org.br/">Eldorado</a></dt>
        </dl>
        <dl>
            <dt>Profissão: Auxiliar de Suporte </dt>
        </dl>
       
        <dl>
            <dt>e-mail: allan.alencar@eldorado.org.br </dt>
        </dl>
        <dl>
            <dt>Localização: Brasília, Brasil</dt>
        </dl>              
    
    </div>
</div>
