@page
@model ContactModel
@{
    ViewData["Title"] = "Contato - Allan Alencar";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>e-mail: allan.alencar@eldorado.org</p>
<p>Em busca de conhecimento</p>

