@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Projeto 1 - ASP.NET Core </h1>
        <h2 class="text-center">Allan Alencar</h2>
        <h3 class="text-center">Estudante de Sistemas</h3>
    </div>   
  
</div>